{% extends 'inventory_views/base.html' %}

{% block cssfile %}
{{url_for('static', filename='/stylesheets/inventory_views/supply.css')}}
{% endblock %}

{% block select_supply %}selected_navlink{% endblock %}

{% block pagenav %}
<a href="#supply_orders_section">Supply Orders</a>
<!--<a href="#self_supply_orders_section">Self Supply Orders</a>-->
<a href="#add_supply_order">Add Order</a>
<a href="#suppliers_section">Suppliers</a>
<a href="#add_supplier_section">Add Supplier</a>
<a href="#supply_recommendation_section">Supply Recommendations</a>
{% endblock %}

{% block content %}
<p>
    Features to manage supply of ingridients
    for the inventory.
</p>

<section id="supply_orders_section">
    <h1>Supply Orders</h1>
    <p>
        Active supply orders from external suppliers
        (orders where consumption date yet to arrive).
    </p>

    <table>
        <thead>
            <td>ID</td>
            <td>Ingridient</td>
            <td>Quantity (Supplied/Demanded)</td>
            <td>Consumption Date</td>
            <td>Order Date</td>
            <td>Supplier</td>
            <td>Rate</td>
        </thead>
        {% for row in activeSupplyOrders %}
        <tr>
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>{{row['supplied_quantity']}}/{{row[3]}} {{row[2]}}</td>
            <td>{{row[4]}}</td>
            <td>{{row[5]}}</td>
            <td>{{row[6]}}</td>
            <td>{{row[7]}}</td>
        </tr>
        {% endfor %}
    </table>
</section>

<!--<section id="self_supply_orders_section">
    <h1>Self Supply Orders</h1>
    <p>Active supply orders for self-produced ingridients.</p>
</section> -->

<section id="add_supply_order">
    <h1>Add Order</h1>
    <p>Add details about a supply order you have confirmed/given to a supplier.</p>
    <form action="{{url_for('inventory.supply')}}" method="post" class="double_columned">

        <label for="ingridient_id">Select ingridient</label>
        <select name="ingridient_id" required>
            <option value="" selected disabled hidden>Select</option>
            {% for row in ingridientsList %}
            <option value="{{row[0]}}">{{row[1]}} ({{row[2]}})</option>
            {% endfor %}
        </select>

        <label for="quantity">Enter quantity (in ingridient's unit)</label>
        <input type="number" step="any" name="quantity" required />

        <label for="supplier_id">Select supplier</label>
        <select name="supplier_id" required>
            <option value="" selected disabled hidden>Select</option>
            {% for row in suppliersList %}
            <option value="{{row[0]}}">{{row[1]}}</option>
            {% endfor %}
        </select>

        <label for="rate">Enter rate (as Rs. per unit)</label>
        <input type="number" step="any" name="rate" required />

        <label for="consumption_start_date">Enter consumption-start date</label>
        <input type="date" name="consumption_start_date" required />

        <input type="submit" class="outlined_button" name="add_order" value="Add" />
        <input type="reset" class="outlined_button"/>
    </form>
</section>

<section id="suppliers_section">
    <h1>Suppliers</h1>
    <p>
        List of external suppliers and
        related payment details.
    </p>
    <table>
        <thead>
            <tr>
                <td rowspan="2">ID</td>
                <td rowspan="2">Supplier Name</td>
                <td colspan="3">Payment Dues</td>

            </tr>
            <tr>
                <td>Total Supply</td>
                <td>Undefective Supply</td>
                <td>Actions</td>
            </tr>
        </thead>
        {% for row in supplierInfo %}
        <tr>
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td>{{row[3]}}</td>
            <td>
                <form action="{{url_for('inventory.supply')}}" method="post">
                    <input type="hidden" name="supplier_id" value="{{row[0]}}" />
                    <input type="submit" name="settle_payment" value="Mark Settled" class="table_actions" />
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% if not supplierInfo %}
    <p>No suppliers in the database.</p>
    {% endif %}
</section>

<section id="add_supplier_section">
    <h1>Add Supplier</h1>
    <p>
        Add an external supplier
        (i.e. a supplier for an externally sourced ingridient).
    </p>
    <form action="{{url_for('inventory.supply')}}" method="post">
        <label for="supplier_name">Enter supplier name</label>
        <input type="text" name="supplier_name" minlength="1" required />
        <input type="submit" name="add_supplier" class="outlined_button" value="Submit" required />
    </form>
</section>

<section id="supply_recommendation_section">
    <h1><del>Supply Recommendations</del></h1>
    <p>
        Recommendations for the supply orders
        of externally sourced ingridients
        as well as self produced ingridients.
    </p>
</section>

{% endblock %}