@import url("/static/stylesheets/inventory_views/base.css");

.content_div{
    display:grid;
    grid-template-columns: minmax(250px,30%);
    justify-content: center;
    gap: 5px;
}

section{
    border-top: 1px dashed rgb(171, 171, 171);
    padding: 10px;
}

form{
    display: grid;
    grid-template-columns: auto;
    gap: 5px;
}

h1{
    font-weight: normal;
}

input[type="text"], input[type="password"]{
    font-family:montserrat;
    font-size: 1rem;
    padding: 0.7rem 0.8rem;
    border-radius: 0;
    border: 2px solid grey;
}