@import url("/static/stylesheets/inventory_views/base.css");

form{
    display: grid;
    grid-template-columns: 50%;
    gap: 5px;
    justify-content: center;
}


input[type="text"], input[type="password"], select{
    font-family:montserrat;
    font-size: 1rem;
    padding: 0.7rem 0.8rem;
    border-radius: 0;
    border: 2px solid grey;
}

section>img{
    width: 80%;
    height: auto;
    display: block;  /* Image was not getting centred due to align property */
    justify-self: center; /* Wanted only the images to be centred and not all the grid content, so setting here specifically */
}
