@import url('/static/stylesheets/base.css');

body{
    margin-top: 0;
}

/* styling for inventory navigation bar */
a.navbar_link{
    color: black;
    text-decoration: none;
}

a.navbar_link:hover{
    text-decoration: underline;
}

a#selected_navlink{
    background-color: rgb(250, 176, 112);
    padding: 5px;
}

nav#inventory_navigation{
    background-color: rgb(255, 255, 150);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
    /*position: sticky;
    top: 0;*/

    grid-column-start: 1;
    grid-column-end: 3;

}

#navbar_image{
    width: 3rem;
    height: auto;  
}


/* Styling for content div i.e. page content */
.content_div{
    display:grid;
    grid-template-columns: minmax(250px,65%);
    justify-content: center;
    gap: 5px;

    overflow-y: auto;
    align-content: start;
}

section{
    border-top: 1px dashed rgb(171, 171, 171);
    padding: 10px;
}

section>h1{
    font-weight:600;
    font-size: 16pt;
}

/* Styling for top container that contains 
 * page content, page navigation and inventory navigation.
*/

#top_container{
    display:grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 10% 90%;
    height: 100vh;
}

/* Styling page navigation */
#page_navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    background-color:  none;
    padding-right: 5px;
    text-align: center;
}

#page_navigation>a{
    color:grey;
    text-decoration: none;
}

#page_navigation>a:hover{
    text-decoration: underline;
}