@import url("/static/stylesheets/inventory_views/base.css");

@import url("/static/stylesheets/inventory_views/base.css");

form{
    display: grid;
    grid-template-columns: 50%;
    gap: 5px;
    justify-content: center;
}



input[type="text"], input[type="password"]{
    font-family:montserrat;
    font-size: 1rem;
    padding: 0.7rem 0.8rem;
    border-radius: 0;
    border: 2px solid grey;
}

table{
    width: 100%;
    border-collapse: collapse;
}

td{
    border: 1px solid black;
    padding: 5px;
}

thead{
    background-color: rgb(255, 255, 150);
}