@font-face {
    font-family: montserrat;
    src: url("../fonts/Montserrat_VariableFont_wght.ttf") format('truetype');
}

body{
    font-family: montserrat;
}

a{
    margin: 5px;
}

.solid_button{
    background-color: orangered;
    color: white;
    border-style: none;
    padding: 5px;
    text-decoration: none;
}
.solid_button:hover{
    background-color: rgb(227, 61, 0);
}

.outlined_button{
    background: none;
    color: orangered;
    border: 2px solid orangered;
    padding: 3px;
    text-decoration: none;
}
.outlined_button:hover{
    border-color: rgb(189, 50, 0);
    color: rgb(189, 50, 0);
}

#flash {
    position: relative; /* To position the close button */
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(255, 202, 70);
    list-style-type: none;
}

#flash .close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 18px;
    line-height: 1;
    color: #000000;
    opacity: 0.6;
    transition: opacity 0.2s ease-in-out;
}

#flash .close-button:hover {
    opacity: 1;
    color: #555;
}

#flash .close-button:focus {
    outline: none; /* Remove default focus outline for better custom styling */
    /* Add a custom focus style if desired, e.g., a subtle box-shadow */
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
