@font-face {
    font-family: montserrat;
    src: url("../fonts/Montserrat_VariableFont_wght.ttf") format('truetype');
}

body{
    font-family: montserrat;
}

a{
    margin: 5px;
}

.solid_button{
    background-color: orangered;
    color: white;
    border-style: none;
    padding: 5px;
    text-decoration: none;
}
.solid_button:hover{
    background-color: rgb(227, 61, 0);
}

.outlined_button{
    background: none;
    color: orangered;
    border: 2px solid orangered;
    padding: 3px;
    text-decoration: none;
}
.outlined_button:hover{
    border-color: rgb(189, 50, 0);
    color: rgb(189, 50, 0);
}

ul#flash{
    background-color: rgb(255, 202, 70);
    padding: 10px;
    list-style-type: none;
}
