@import url("/static/stylesheets/base.css");

header{
    background-color: rgb(255, 255, 150);

    display: flex;
    justify-content: center;

    padding: 3%;
}

h1#header_title{
    color: orangered;
    text-align: center;
}

#header_image{
    width: 250px;
    height: auto;
}

header > div{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header > div > p{
    text-align: center;
}

article{
    display: flex;
    justify-content: center;
}
#content_div{
    width: 40%;
}

@media(max-width:420px){
    #content_div{
        width:90%;
    }

    header>div{
        width:70%;
    }
}

footer{
    text-align: center;
    border-top: 1px dashed black;
    padding-top: 10px;
    padding-bottom:5px;
}
