<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="/static/favicon.webp" type="image/webp">
    <meta charset="utf-8">
    <meta name="description" content="A web application for medium & small food businesses' kitchen inventory management.">
    <link rel="stylesheet" href="{% block cssfile %}{% endblock %}">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul id="flash">
        <button onclick="document.getElementById('flash').style.display='none';" class="close-button">&#9746;</button>
        {% for category, message in messages %}
        <li class="flash_messages">
            {% if category == 'success' %}
            <img src="{{url_for('static', filename = '/icons/check.png')}}" />
            {% elif category == 'info' %}
            <img src="{{url_for('static', filename= '/icons/info.png')}}" />
            {% elif category == 'error' %}
            <img src="{{url_for('static', filename= '/icons/error.png')}}" />
            {% else %}
            <img src="{{url_for('static', filename= '/icons/info.png')}}" />
            {% endif %}
            {{message}}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}

</body>

</html>