{% extends 'base.html' %}

{% block title %}
Kitchen Inventory
{% endblock %}

{% block cssfile %}
{{url_for('static', filename='/stylesheets/index.css')}}
{% endblock %}

{% block body %}
<header>
    <div>
        <img src="{{url_for('static', filename='favicon.png')}}"
            id="header_image"
        />
        <h1 id="header_title">Kitchen Inventory</h1>
        <p>
            A software solution to help
            small and medium food businesses
            to manage their kitchen inventory.
        </p>
        <a href="{{url_for('auth.signin')}}"><button class="solid_button">Sign In</button></a>
        <a href="{{url_for('auth.signup')}}"><button class="outlined_button">Sign Up</button></a>
    </div>
</header>
<article>
    <div id="content_div">
        <h1>About</h1>
        <p>
            This is a minor project.
            Created by Abhijeet Verma.
        </p>

        <h1>Features</h1>
        <ul>
            <li>Inventory Tracking</li>
            <li>Inventory & Business Analytics</li>
            <li>Supply Recommendation</li>
            <li>Consumer order management</li>
        </ul>
    </div>
</article>
{% endblock %}