{% extends 'base.html' %}

{% block title %}Kitchen Inventory{% endblock %}

{% block cssfile %}{{url_for('static', filename='stylesheets/index.css')}}{% endblock %}

{% block body %}
<header>
    <div>
        <img src="{{url_for('static', filename='favicon.webp')}}"
            id="header_image" alt="Image of the logo, a basket containing vegetable and milk pack."
        >
        <h1 id="header_title">Kitchen Inventory</h1>
        <p>
            A software solution to help
            small and medium food businesses
            to manage their kitchen inventory.
        </p>
        {% if g.user != None %}
            <a href="{{url_for('inventory.inventory')}}" class="solid_button">Go to Inventory</a>
        {% else %}
            <a href="{{url_for('auth.signin')}}" class="solid_button">Sign In</a>
            <a href="{{url_for('auth.signup')}}" class="outlined_button">Sign Up</a>
        {% endif %}
    </div>
</header>

    <div id="content_div">        
        <div class="features-container">
            <div class="feature">
              <h3>Inventory Control</h3>
              <p>Easily track, manage, and update stock levels across your kitchen inventory.</p>
            </div>
            <div class="feature">
              <h3>Order Management</h3>
              <p>Streamline and monitor all supply orders with real-time tracking.</p>
            </div>
            <div class="feature">
              <h3>Supplier Tracking</h3>
              <p>Effortlessly manage supplier details and get automatically calculated payments per supplier.</p>
            </div>
            <div class="feature">
              <h3>Visual Insights</h3>
              <p>Gain actionable insights through clear visualizations of usage and waste.</p>
            </div>
            <div class="feature">
              <h3>Demand Forecasting</h3>
              <p>Predict future consumption patterns using time series analysis.</p>
            </div>
            <div class="feature">
              <h3>User Management</h3>
              <p>Every user gets a private, password-protected account for keeping data.</p>
            </div>
          </div>
    </div>
<footer>
    &copy;2025, website designed and developed by <a href="https://github.com/gras-hub">Gras</a>.
    Source code is available under MIT Licence, 
    <a href="https://github.com/gras-hub/kitchen_inventory">here on github</a>.
</footer>
{% endblock %}