{% extends 'base.html' %}

{% block title %}
Kitchen Inventory
{% endblock %}

{% block cssfile %}
{{url_for('static', filename='/stylesheets/index.css')}}
{% endblock %}

{% block body %}
<header>
    <div>
        <img src="{{url_for('static', filename='favicon.png')}}"
            id="header_image"
        />
        <h1 id="header_title">Kitchen Inventory</h1>
        <p>
            A software solution to help
            small and medium food businesses
            to manage their kitchen inventory.
        </p>
        {% if g.user != None %}
            <a href="{{url_for('inventory.inventory')}}" class="solid_button">Go to Inventory</a>
        {% else %}
            <a href="{{url_for('auth.signin')}}" class="solid_button">Sign In</a>
            <a href="{{url_for('auth.signup')}}" class="outlined_button">Sign Up</a>
        {% endif %}
    </div>
</header>
<article>
    <div id="content_div">
        <h1>About</h1>
        <p>
            This is a minor project.
            Created by Abhijeet Verma.
        </p>
        
        <h1>Tech Stack</h1>
        <p>
            HTML, CSS, Python, Flask, SQLite
        </p>

        <h1>Features</h1>
        <ul>
            <li>Tracking & managing stock and overall inventory.</li>
            <li>Tracking & managing supply orders.</li>
            <li>Tracking & managing suppliers.</li>
            <li>Visual analytics on consumption and wastage.</li>
            <li>Time series analysis based consumption prediction.</li>
            <li>Automated supplier payments calculation.</li>
            <li>A separate account for every user, secured with a password.</li>
        </ul>
    </div>
</article>
<footer>
    &copy;2025, website designed and developed by <a href="https://github.com/gras-hub">Gras</a>.
    Source code is available under MIT Licence, 
    <a href="https://github.com/gras-hub/kitchen_inventory">here</a> on github.
</footer>
{% endblock %}