{% extends 'base.html' %}

{% block title %}
Kitchen Inventory
{% endblock %}

{% block cssfile %}
{{url_for('static', filename='/stylesheets/auth_views/sign_in_up.css')}}
{% endblock %}

{% block body %}
<form method="post">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" required />
    <label for="password">Passoword</label>
    <input type="password" name="password" id="password" required />
    <input type="submit" value="Sign In" />
    <a href="{{url_for('auth.signup')}}">Sign Up</a>
</form>

{% endblock %}